html {
	padding: 0px;
	margin: 10px;
	background: #171614;
}
body {
	font-family: monospace;
	font-size: 16px;
	margin: auto;
	width: 90%;	
	max-width: 900px;
	padding: 20px 30px 25px 30px;
	text-align: center;
	border-radius: 7px;
	color: #F5F3F5;
	background: #171614;
}
img {
	max-width: 100%;
	object-fit: cover;
}
a {
	color: #e241ea;
	text-decoration: none;
}
a:hover {color: #e241Aa}
h1 {font-size: 40px;}

.glow {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:}
  to {
    text-shadow: 0 0 10px grey, 0 0 20px white, 0 0 30px #e241ea, 0 0 40px #e241ea, 0 0 50px #e241ea, 0 0 60px #e241ea;
}
}
